@import "../index.scss";

.contact-section {
	@include flex;
	flex-direction: column;
	.contact-cont {
		user-select: none;
		@include flex;
		flex-direction: column;
		padding: 15px;
		border-radius: 5px;
		h1 {
			margin-bottom: 20px;
		}
		p {
			margin: 0;
			margin: 20px 0;
			font-size: 1.2rem;
			font-weight: 600;
			span {
				font-size: 1.1rem;
				font-weight: 400;
			}
			&:first-child {
				margin-top: 10px;
			}
		}
		button {
			@include flex;
			border-radius: 5px;
			@include button-fx;
		}
	}
}
