@import "../index.scss";
$width: 400px;

.projects-map-section {
	@include flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 50px;
	.cards-cont {
		@include flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: flex-start;
		margin-bottom: 20px;
		:nth-child(2),
		:nth-child(5),
		:nth-child(8),
		:nth-child(11),
		:nth-child(14),
		:nth-child(17) {
			margin: 0 15px;
		}
		.project-anim {
			flex: 1;
			min-width: 30%;
			max-width: 33%;
			@include flex;
			align-items: stretch;
			.project-card {
				user-select: none;
				@include flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				padding: 20px;
				margin-bottom: 20px;
				border-radius: 5px;
				border-left: 5px solid rgb(32, 32, 32);
				border-bottom: 5px solid rgb(32, 32, 32);
				// background-color: rgba(206, 222, 236, 0.5);
				transition: 0.2s;
				.header {
					@include flex;
					justify-content: space-between;
					width: 100%;
					padding-bottom: 20px;
					svg {
						font-size: 1.5rem;
					}
					a {
						flex: 1;
						text-align: right;
						h3 {
							margin: 0;
						}
					}
				}
				.description {
					cursor: default;
					flex: 1;
					padding-bottom: 20px;
					margin: 0;
					p {
						margin: 0;
					}
				}
				.navigation {
					font-size: 1.5rem;
					width: 100%;
					align-self: flex-end;
					text-align: right;
					a {
						transition: 0.2s;
						margin: 0;
						margin-left: 10px;
						&:hover {
							transition: 0.2s;
							color: steelblue;
						}
					}
				}
				.folder-open,
				.folder-closed {
					margin: 0;
					transition: 0.2s;
				}
				.folder-open {
					display: none;
					margin-left: 1px;
					transition: 0.2s;
				}
				&:hover {
					transition: 0.2s;
					border-left: 5px solid rgb(32, 32, 32);
					background-color: white;
					.folder-open {
						display: block;
						a {
							color: steelblue;
						}
					}
					.folder-closed {
						display: none;
					}
				}
			}
		}
	}
	.button-cont {
		button {
			font-size: 1.5rem;
			user-select: none;
			outline: none;
			border: none;
			cursor: pointer;
			@include flex;
			min-width: 75px;
			padding: 10px;
			margin-bottom: 5px;
			border-radius: 5px;
			transition: 0.2s;
			@include button-fx;
		}
	}
}
