@import "../index.scss";

.projects-map-section {
	@include flex;
	flex-direction: column;
	width: 100%;
	.cards-cont {
		@include flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: flex-start;
		:nth-child(2),
		:nth-child(5),
		:nth-child(8),
		:nth-child(11),
		:nth-child(14),
		:nth-child(17) {
			margin: 0 15px;
			transition: 0.3s;
			@include media("<=800") {
				margin: unset;
				margin-right: 15px;
			}
		}
	}
	.button-cont {
		button {
			@include flex;
			margin-bottom: 5px;
			@include button-fx;
		}
	}
}
