@import "../index.scss";

.skills-section {
	@include flex;
	flex-direction: column;
	width: 100%;
	.skills-cont {
		@include flex;
		flex-direction: column;
		width: 100%;
		min-height: 30px;
		max-width: 800px;
		transition: 0.2s;
		@include media("<=550") {
			flex-direction: row;
		}
		.tabs {
			flex: 1;
			user-select: none;
			overflow-x: scroll;
			scrollbar-width: none;
			@include flex;
			align-items: stretch;
			justify-content: center;
			width: 100%;
			padding: 10px 0;
			margin: 0;
			transition: 0.2s;
			@include media("<=800") {
				overflow-x: scroll;
			}
			@include media("<=550") {
				flex-direction: column;
				max-width: fit-content;
				justify-content: space-evenly;
			}
			li {
				cursor: pointer;
				flex: 1;
				@include flex;
				flex-direction: column;
				padding: 10px 15px;
				max-height: 75px;
				list-style: none;
				border-bottom: 2px solid steelblue;
				@include button-fx;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				@include media("<=550") {
					font-size: 0.9rem;
					min-width: 25vw;
					min-height: 75px;
					max-height: 75px;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					border-bottom: none;
					border-right: 2px solid steelblue;
				}
			}
			.active-tab {
				border-bottom: 2px solid $app-text;
				background-color: $app-alt-bg;
				@include media("<=550") {
					border-bottom: none;
					border-right: 2px solid $app-text;
				}
			}
		}
		section {
			flex: 1;
			user-select: none;
			width: 100%;
			transition: 0.2s;
			ul {
				@include flex;
				justify-content: space-evenly;
				width: 100%;
				margin: 0;
				padding: 0;
				@include media("<=800") {
					flex-wrap: wrap;
				}
				@include media("<=550") {
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
				}
				li {
					list-style: none;
					flex: 1;
					@include flex;
					flex-direction: column;
					padding: 20px;
					margin: 0;
					@include media("<=800") {
						min-width: 20vw;
						max-width: 25vw;
					}
					@include media("<=550") {
						min-width: 20vw;
						max-width: 20vw;
						font-size: 0.9rem;
					}
					p {
						margin: 0;
						&:first-child {
							font-size: 2rem;
							margin-bottom: 10px;
							@include media("<=550") {
								font-size: 1.9rem;
							}
						}
					}
				}
			}
		}
	}
}
