@import "./index.scss";

.about-route {
	width: 100%;
	min-height: calc(100vh - 325px);
	transition: 0.2s;
	.about-cont {
		flex: 1;
		max-width: 700px;
		height: 100%;
		margin: 0 auto;
		margin-bottom: 125px;
		h2 {
			font-size: 1.4rem;
			margin-top: 40px;
			margin-bottom: 20px;
		}
		.info {
			text-indent: 20px;
		}
		ul {
			li {
				&:not(:last-child) {
					padding-bottom: 15px;
				}
				p {
					margin: 0;
					&:not(:first-child) {
						padding-left: 10px;
					}
				}
			}
		}
	}
	@include media("<=550") {
		padding: 0px 15px;
		.about-cont {
			margin-bottom: 75px;
		}
		.section-title {
			text-align: center;
		}
		.about-cont {
			ul {
				padding: 0 20px;
				li {
					p {
						margin: 0;
					}
				}
			}
		}
	}
}
