@import "./index.scss";

.view-clickout {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba($color: black, $alpha: 0.5);
}
.full-view {
	z-index: 100;
	@include flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 100vh;
	transform: translate(-50%, -50%);
	.image {
		z-index: 110;
		width: 100%;
		max-width: 80%;
		border-radius: 10px;
		@include media("<=800") {
			max-width: 95%;
		}
	}
	.controls {
		z-index: 100;
		@include flex;
		margin-top: 20px;
		width: 100%;
		button {
			@include flex;
			margin-right: 5px;
			@include button-fx;
		}
	}
}
