@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");

::-webkit-scrollbar {
	position: relative;
	right: 0px;
	top: 100px;
	height: 0;
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: darken(white, 25%);
}

::-webkit-scrollbar-thumb {
	background-color: darken(white, 60%);
	border-radius: 5px;
}

:root {
	scrollbar-color: darken(white, 80%) darken(white, 50%) !important;
	scrollbar-width: thin !important;
}

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
$max-width: 900px;

* {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.5px;
	font-weight: 700;
}
body {
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: black;
}

.mono {
	font-family: "Roboto Mono", monospace;
	font-weight: 500;
	letter-spacing: -0.5px;
	font-size: 0.95rem;
}
.section-title {
	user-select: none;
	font-size: 2.2rem;
	margin-left: -40px;
	margin-bottom: 40px;
	align-self: flex-start;
}

.introduction-section,
.skills-section,
.featured-map-section,
.projects-map-section,
.contact-section {
	padding: 50px 0;
}

@media (max-width: 700px) {
	h1 {
		font-size: 1.4rem;
	}
	p {
		font-size: 0.85rem;
	}
	span {
		font-size: 1.2rem;
	}
}
