@import "./index.scss";

.projects-map-section {
	.project-anim {
		flex: 1;
		min-width: 30%;
		max-width: 33%;
		min-height: 250px;
		@include flex;
		align-items: stretch;
		transition: 0.2s;
		@include media("<=800") {
			min-width: 45%;
			max-width: 50%;
			margin-right: 15px;
		}
		@include media("<=550") {
			min-width: 100%;
			max-width: 100%;
			margin-right: unset;
			min-height: 150px;
		}
		.project-card {
			user-select: none;
			@include flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			padding: 20px;

			width: 100%;
			margin-bottom: 20px;
			border-radius: 5px;
			border-left: 5px solid rgb(32, 32, 32);
			border-bottom: 5px solid rgb(32, 32, 32);
			transition: 0.2s;
			@include media("<=550") {
				padding: 15px;
			}
			.header {
				@include flex;
				justify-content: space-between;
				width: 100%;
				padding-bottom: 20px;
				transition: 0.2s;
				@include media("<=550") {
					padding-bottom: 15px;
				}
				svg {
					font-size: 1.5rem;
				}
				a {
					flex: 1;
					text-align: right;
					h3 {
						transition: 0.2s;
						margin: 0;
					}
				}
			}
			.description {
				cursor: default;
				flex: 1;
				padding-bottom: 20px;
				margin: 0;
				transition: 0.2s;
				@include media("<=550") {
					padding-bottom: 15px;
				}
				p {
					margin: 0;
				}
			}
			.navigation {
				font-size: 1.5rem;
				width: 100%;
				align-self: flex-end;
				text-align: right;
				a {
					transition: 0.2s;
					margin: 0;
					margin-left: 10px;
					&:hover {
						transition: 0.2s;
						color: steelblue;
					}
				}
			}
			.folder-open,
			.folder-closed {
				margin: 0;
				transition: 0.2s;
			}
			.folder-open {
				display: none;
				margin-left: 1px;
				transition: 0.2s;
			}
			&:hover {
				transition: 0.2s;
				border-left: 5px solid rgb(32, 32, 32);
				background-color: $app-background;
				.header {
					a {
						h3 {
							transition: 0.2s;
							margin-right: 10px;
						}
					}
				}
				.folder-open {
					display: block;
					a {
						color: steelblue !important;
					}
				}
				.folder-closed {
					display: none;
				}
			}
		}
	}
}
