@import "./index.scss";

.resume {
	flex: 1;
	width: 100vw;
	height: calc(100vh - 100px);
	.object {
		width: 100%;
		height: 100%;
	}
}

.resume-mobile {
	@include flex;
	margin-top: 5px;
	width: 100vw;
	margin-top: 50px;
	max-width: 100vw;
	.res-btn {
		* {
			font-weight: 400;
		}
		padding: 7px 15px;
	}
}
