@import "../index.scss";

.home-header {
	user-select: none;
	@include flex;
	width: 100%;
	min-height: 100px;
	background-color: transparent;
	.head-cont {
		@include flex;
		justify-content: space-between;
		min-width: $max-width;
		max-width: $max-width;
		.title {
			margin: 0;
		}
		.navs {
			a {
				margin-left: 25px;
			}
		}
	}
}

.home-layout {
	margin: 0 auto;
	max-width: $max-width;
}

.home-footer {
	margin-top: 50px;
}
