@import "../index.scss";

.home-header {
	z-index: 10;
	position: sticky;
	top: 0;
	user-select: none;
	@include flex;
	width: 100%;
	min-height: 100px;
	background-color: transparent;
	transition: 0.3s;
	.head-cont {
		@include flex;
		justify-content: space-between;
		min-width: $max-width;
		max-width: $max-width;
		.title {
			margin: 0;
		}
		.navs {
			a {
				margin-left: 25px;
			}
		}
	}
}
.fill {
	background-color: white;
}
.show {
	transition: 0.3s;
	opacity: 1;
}
.hide {
	transition: 0.3s;
	opacity: 0;
}

.home-layout {
	margin: 0 auto;
	max-width: $max-width;
}

.home-footer {
	margin-top: 100px;
	@include flex;
	height: 50px;
}
